# CONFIGURACIÓN DE MERCADO PAGO
MERCADOPAGO_ACCESS_TOKEN=APP_USR-3670843432334023-042116-eca6a87cc5ac7d6ce093c01fdecd8af3-3350578413
MERCADOPAGO_PUBLIC_KEY=APP_USR-87258bb7-c2d0-4a5d-a05e-dae843f8f322

# CONFIGURACIÓN DEL SERVIDOR
PORT=3000
NODE_ENV=production

# EMAIL DEL VENDEDOR
SELLER_EMAIL=facturacion@sorbitodeamor.com

# URL PARA NOTIFICACIONES (Webhook de Mercado Pago)
# Cambiar por tu URL de Render cuando esté desplegado
NOTIFICATION_URL=https://tu-app.onrender.com/api/notifications

# DATOS BANCARIOS (solo para referencia, NO usar en transacciones)
# Cuenta Bancomer: 0477554826
# CLABE: 012078004775548266
# Titular: Juan Carlos Llamas Contreras
# Teléfono: 844 495 8409
